<html>
<head>
    <title>Buy medicine</title>
    {% include 'header.html' %}
</head>

<body>
    {% include 'navbar_patient.html' %}
    {% if message %}
        <div class="purchase-container">
            <div class="purchase">
                <h3>Success!</h3>
                <p>We will contact you for the delivery address!</p>
                <p>{{ message }}</p>
            </div>
        </div>
      
    {% else %}
        <form class="cool-form" method="POST" action="/medicine/buy" enctype="multipart/form-data">
            <h1>Order</h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif success %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <div class="success-message">
                        {{ success }}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
            <label for="supplier">Supplier:</label>
            <input type="text" class="form-control" id="supplier" name="supplier">
            </div>
            <div class="form-group">
            <label for="batch_id">Batch ID:</label>
            <input type="text" class="form-control" id="batch_id" name="batch_id">
            </div>
            <div class="form-group">
                <label for="prescription">Prescription:</label>
                <input type="text" class="form-control" id="prescription" name="prescription">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}

    {% include 'footer.html' %}
</body>
</html>