<configuration>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" useAppPoolCredentials="true">
 
                </windowsAuthentication>
        </authentication>
      </security>
        <defaultDocument enabled="true">
         <files>
            <add value="index.aspx" />
         </files>
      </defaultDocument>
    </system.webServer>
</configuration>