<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Company</h5>
        <p>123 Main Street<br>City, State ZIP<br>Country</p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: info@example.com<br>Phone: 123-456-7890</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Online Health Platform. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
